# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [20]:
# Import your libraries:

%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine


# Challenge 0 - Load,Query and Create connection of your Dataset

#### A lot of the times you won't have files already saved in an Excel or CSV file for you to prepare your data, implying that a lot of times you'll be extracting data from a Data Warehouse or Data Lake, majority of times through SQL.
#### A couple of times you may want to do some queries on your table in mySQL to get a slight view on what you have in hands,
#### so let's simulate that!

#### First we'll need to create a database and table in mySQL:

##### 1º- Open the austin_weather.sql file in MySQL Workbench and run the script into a desired schema.

#### 2º- As we are in mySQL Workbench, we can do some queries there, to get an overview on some characteristics of our data:
 - a) How many days are recorded in the dataset?
 - b) What is the day with the Highest Temperature in Fahrenheit (column TempHighF)
 - c) What is the average Humidity across all days? (column HumidityAvgPercent)
 - d) Top 10 days, where SeaLevelPressureAvgInches is the highest, knowing DewPointAvgF is higher than 28 ?

In [21]:
# Write your answers below:

# a) 
""" SELECT COUNT(DISTINCT Date) AS NumberOfDays
FROM austin_weather; 

= 1319 Days """

# b)
""" SELECT `Date`, `TempHighF`
FROM austin_weather
ORDER BY `TempHighF` DESC
LIMIT 1; 

= '2017-07-29 00:00:00', '107' """

# c)
""" SELECT AVG(`HumidityAvgPercent`) AS AverageHumidity
FROM austin_weather; 

= 66.57088703563305 """

# d)
""" SELECT `Date`, `SeaLevelPressureAvgInches`
FROM austin_weather
WHERE `DewPointAvgF` > 28
ORDER BY `SeaLevelPressureAvgInches` DESC
LIMIT 10;

= 
'2016-11-19 00:00:00','30.54'
'2016-11-19 00:00:00','30.54'
'2016-11-19 00:00:00','30.54'
'2016-11-19 00:00:00','30.54'
'2016-12-08 00:00:00','30.49'
'2016-12-08 00:00:00','30.49'
'2016-12-08 00:00:00','30.49'
'2016-12-08 00:00:00','30.49'
'2014-12-31 00:00:00','30.48'
'2015-01-04 00:00:00','30.48' """

" SELECT `Date`, `SeaLevelPressureAvgInches`\nFROM austin_weather\nWHERE `DewPointAvgF` > 28\nORDER BY `SeaLevelPressureAvgInches` DESC\nLIMIT 10;\n\n= \n'2016-11-19 00:00:00','30.54'\n'2016-11-19 00:00:00','30.54'\n'2016-11-19 00:00:00','30.54'\n'2016-11-19 00:00:00','30.54'\n'2016-12-08 00:00:00','30.49'\n'2016-12-08 00:00:00','30.49'\n'2016-12-08 00:00:00','30.49'\n'2016-12-08 00:00:00','30.49'\n'2014-12-31 00:00:00','30.48'\n'2015-01-04 00:00:00','30.48' "

#### Now that you explored a couple of elements in your table, let's bring your table into this jupyter notebook, by creating a Python-SQL connection like you did on MySQL Project!
#### In case you need a little refresher check this [link](https://www.dataquest.io/blog/sql-insert-tutorial/).
##### 1º - Create a connection using sqlalchemy from python to mysql 
##### 2º- Load the table into a variable called weather_df

In [22]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL connection details
username = "root"
password = 'SonimSonim2026'
hostname = 'localhost'
port = 3306
database_name = 'Weather'   # Correct database name is "Weather" where the table exists

# Create the connection string
connection_string = f'mysql+pymysql://{username}:{password}@{hostname}:{port}/{database_name}'

try:
    # Create the SQLAlchemy engine to connect to MySQL
    engine = create_engine(connection_string)

    # SQL query to select all data from the "austin_weather" table
    sql_query = 'SELECT * FROM austin_weather'

    # Load data into the DataFrame
    austin = pd.read_sql_query(sql_query, engine)

    # Data has been successfully loaded
    print("Data loaded successfully into DataFrame.")
except Exception as e:
    print(f"Error occurred: {e}")

Data loaded successfully into DataFrame.


# Challenge 1 - Describe the Dataset

#### Describe the dataset you have loaded: 
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables 
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [23]:
austin.dtypes

Date                          datetime64[ns]
TempHighF                              int64
TempAvgF                               int64
TempLowF                               int64
DewPointHighF                         object
DewPointAvgF                          object
DewPointLowF                          object
HumidityHighPercent                   object
HumidityAvgPercent                    object
HumidityLowPercent                    object
SeaLevelPressureHighInches            object
SeaLevelPressureAvgInches             object
SeaLevelPressureLowInches             object
VisibilityHighMiles                   object
VisibilityAvgMiles                    object
VisibilityLowMiles                    object
WindHighMPH                           object
WindAvgMPH                            object
WindGustMPH                           object
PrecipitationSumInches                object
Events                                object
dtype: object

In [24]:
austin.describe()

         TempHighF     TempAvgF     TempLowF
count  5276.000000  5276.000000  5276.000000
mean     80.862775    70.642911    59.902957
std      14.762323    14.041909    14.186612
min      32.000000    29.000000    19.000000
25%      72.000000    62.000000    49.000000
50%      83.000000    73.000000    63.000000
75%      92.000000    83.000000    73.000000
max     107.000000    93.000000    81.000000

In [25]:
austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [26]:
# Checking the unique values for each column (evaluate categorical variables)
for column in austin.columns:
    unique_values = austin[column].unique()
    print(f"Column: {column}, Unique Values: {unique_values}")

Column: Date, Unique Values: ['2013-12-21T00:00:00.000000000' '2013-12-22T00:00:00.000000000'
 '2013-12-23T00:00:00.000000000' ... '2017-07-29T00:00:00.000000000'
 '2017-07-30T00:00:00.000000000' '2017-07-31T00:00:00.000000000']
Column: TempHighF, Unique Values: [ 74  56  58  61  57  60  62  64  44  55  69  71  59  36  48  53  70  72
  75  67  76  82  63  40  39  49  65  80  46  32  38  86  81  83  77  52
  73  47  50  68  66  89  79  85  84  87  78  88  96  93  94  91  92  90
  95  97  98 100 101  99 102 104 103  51  41  45  54  42  43  37 105  34
 107 106]
Column: TempAvgF, Unique Values: [60 48 45 46 50 53 51 40 54 44 43 57 47 29 35 62 65 52 56 59 64 42 33 38
 68 66 34 67 70 69 73 63 74 36 49 61 55 58 72 76 77 75 78 85 80 79 83 81
 82 92 84 86 87 88 90 89 91 71 39 37 41 30 32 93]
Column: TempLowF, Unique Values: [45 39 32 31 41 40 36 35 33 28 42 34 22 53 57 48 46 43 37 38 27 26 55 29
 47 59 58 63 62 52 44 24 30 50 56 49 51 54 61 60 66 70 71 65 68 64 67 73
 72 74 75 76 77 78 69 79 80 23 81 19 21]
Column: DewPointHighF, Unique Values: ['67' '43' '31' '36' '44' '39' '41' '49' '51' '37' '55' '54' '15' '29'
 '60' '64' '58' '28' '42' '22' '38' '45' '19' '59' '62' '40' '17' '53'
 '34' '48' '52' '61' '63' '33' '57' '65' '46' '32' '50' '27' '56' '47'
 '68' '69' '66' '70' '73' '71' '76' '72' '75' '74' '-' '77' '23' '35' '30'
 '79' '78' '80' '26' '18' '25' '13']
Column: DewPointAvgF, Unique Values: ['49' '36' '27' '28' '40' '39' '41' '26' '42' '22' '48' '32' '8' '11' '45'
 '55' '61' '37' '47' '25' '23' '20' '33' '30' '29' '17' '14' '13' '54'
 '59' '15' '24' '34' '35' '57' '50' '53' '60' '46' '56' '51' '31' '38'
 '62' '43' '63' '64' '67' '66' '58' '70' '68' '65' '69' '71' '72' '-' '73'
 '74' '21' '44' '52' '12' '75' '76' '18']
Column: DewPointLowF, Unique Values: ['43' '28' '23' '21' '36' '33' '37' '30' '19' '18' '38' '15' '2' '4' '50'
 '54' '20' '17' '16' '24' '10' '22' '5' '7' '9' '51' '41' '27' '39' '13'
 '29' '53' '32' '59' '44' '47' '35' '48' '12' '26' '31' '45' '52' '56'
 '49' '62' '63' '66' '60' '61' '55' '57' '25' '67' '58' '65' '68' '69'
 '64' '-' '70' '71' '46' '40' '34' '14' '42' '8' '72' '73' '75' '6' '11']
Column: HumidityHighPercent, Unique Values: ['93' '76' '89' '86' '79' '83' '92' '75' '87' '50' '68' '84' '70' '49'
 '55' '45' '59' '64' '71' '78' '81' '85' '66' '69' '63' '80' '82' '58'
 '96' '90' '67' '73' '56' '53' '100' '72' '97' '60' '77' '42' '51' '44'
 '37' '94' '91' '95' '-' '88' '74' '62' '61' '65' '57' '54' '52' '48' '47'
 '43']
Column: HumidityAvgPercent, Unique Values: ['75' '68' '52' '56' '71' '63' '65' '64' '76' '60' '54' '55' '49' '59'
 '38' '43' '80' '81' '53' '51' '41' '35' '31' '45' '39' '44' '48' '42'
 '69' '74' '70' '57' '58' '85' '79' '72' '62' '88' '66' '36' '61' '78'
 '77' '73' '32' '33' '27' '87' '40' '67' '83' '86' '-' '50' '92' '46' '97'
 '91' '90' '47' '94' '82' '89' '95' '37' '84' '93' '28' '30']
Column: HumidityLowPercent, Unique Values: ['57' '43' '27' '22' '56' '47' '36' '60' '45' '32' '52' '26' '31' '17'
 '66' '68' '13' '14' '12' '21' '20' '19' '50' '39' '48' '42' '59' '65'
 '46' '49' '58' '40' '44' '70' '38' '30' '15' '29' '77' '37' '54' '69'
 '34' '83' '55' '53' '16' '18' '24' '51' '28' '67' '35' '72' '10' '11'
 '41' '79' '61' '73' '-' '33' '25' '74' '84' '62' '78' '93' '82' '23' '75'
 '87' '64' '89' '80' '76' '71' '85' '90' '81' '63' '86']
Column: SeaLevelPressureHighInches, Unique Values: ['29.86' '30.41' '30.56' '30.47' '30.46' '30.33' '30.31' '30.44' '30.49'
 '30.25' '30.48' '30.12' '30.8' '30.66' '30.18' '29.97' '30.16' '30.34'
 '30.21' '30.37' '30.26' '30.35' '30.43' '30.23' '30.73' '30.76' '30.38'
 '30' '30.28' '30.51' '30.52' '29.96' '29.91' '30.27' '30.11' '30.5'
 '30.57' '30.3' '30.08' '30.17' '30.1' '29.93' '30.09' '30.05' '30.06'
 '30.22' '29.92' '30.02' '30.07' '29.83' '30.03' '30.24' '30.2' '29.95'
 '30.01' '29.99' '29.9' '29.81' '30.14' '29.89' '30.04' '29.85' '30.15'
 '29.87' '29.63' '29.7' '30.19' '29.88' '29.84' '30.29' '29.94' '29.98'
 '30.13' '30.32' '30.58' '30.4' '30.36' '30.45' '30.39' '30.69' '30.79'
 '30.42' '30.54' '30.64' '29.76' '29.8' '-' '29.79' '29.72' '30.53'
 '30.55' '29.78' '30.63' '29.65' '30.68' '30.67' '30.59' '30.6' '30.83'
 '30.78' '29.73' '29.75' '29.69' '29.82' '29.77']
Column: SeaLevelPressureAvgInches, Unique Values: ['29.68' '30.13' '30.49' '30.45' '30.33' '30.4' '30.39' '30.17' '30.1'
 '30.11' '30.37' '30.35' '29.95' '30.08' '30.68' '30.52' '30.2' '29.87'
 '30.06' '30.01' '30.29' '30.19' '30.22' '30' '30.31' '30.47' '30.63'
 '29.84' '30.09' '30.41' '29.81' '30.48' '30.32' '30.05' '30.15' '30.24'
 '30.18' '30.02' '29.93' '30.03' '29.85' '29.96' '30.04' '29.99' '29.77'
 '30.26' '29.86' '29.9' '29.94' '29.74' '30.07' '30.14' '29.83' '29.79'
 '29.92' '29.8' '29.98' '29.91' '29.76' '30.27' '30.12' '29.82' '29.78'
 '29.55' '29.61' '29.89' '29.97' '29.88' '30.16' '30.34' '30.28' '29.64'
 '30.23' '30.21' '29.7' '30.25' '30.36' '30.6' '30.38' '30.58' '30.54'
 '30.42' '30.43' '30.56' '29.65' '-' '29.73' '29.75' '30.3' '29.66'
 '29.72' '29.57' '30.46' '29.69' '29.67' '30.74' '30.64' '29.58' '29.71'
 '29.56' '29.59']
Column: SeaLevelPressureLowInches, Unique Values: ['29.59' '29.87' '30.41' '30.3' '30.27' '30.34' '30.04' '29.99' '30.26'
 '30.01' '30.15' '30.14' '29.81' '29.79' '30.5' '30.36' '30.12' '30'
 '29.75' '29.9' '29.86' '30.17' '30.06' '30.21' '30.1' '29.85' '30.19'
 '30.4' '30.02' '29.69' '30.29' '29.98' '30.13' '30.42' '30.24' '30.03'
 '29.93' '30.08' '29.94' '29.92' '29.89' '29.72' '29.71' '29.88' '29.95'
 '30.25' '30.22' '29.58' '29.73' '29.68' '29.7' '29.78' '29.67' '29.83'
 '30.05' '29.82' '29.66' '29.91' '29.8' '29.62' '30.09' '29.76' '29.84'
 '29.64' '29.44' '29.55' '29.6' '29.74' '29.77' '30.11' '29.96' '30.07'
 '29.65' '30.28' '30.18' '30.46' '29.51' '30.2' '30.37' '29.97' '29.63'
 '30.16' '30.45' '30.31' '30.38' '30.23' '30.32' '30.49' '29.52' '29.54'
 '-' '29.53' '29.48' '29.61' '29.57' '29.56' '30.48' '30.52' '30.6'
 '30.61' '29.42' '30.43' '29.46' '29.41' '29.5']
Column: VisibilityHighMiles, Unique Values: ['10' '9' '-' '8' '5']
Column: VisibilityAvgMiles, Unique Values: ['7' '10' '9' '2' '4' '8' '6' '5' '3' '-']
Column: VisibilityLowMiles, Unique Values: ['2' '5' '10' '7' '4' '8' '9' '1' '0' '3' '6' '-']
Column: WindHighMPH, Unique Values: ['20' '16' '8' '12' '10' '7' '17' '13' '21' '14' '15' '9' '18' '24' '22'
 '25' '28' '23' '-' '29' '6' '26']
Column: WindAvgMPH, Unique Values: ['4' '6' '3' '2' '1' '5' '8' '7' '10' '9' '11' '-' '12']
Column: WindGustMPH, Unique Values: ['31' '25' '12' '20' '16' '17' '11' '14' '24' '21' '22' '28' '34' '27'
 '18' '19' '29' '26' '32' '23' '30' '37' '13' '36' '15' '33' '57' '38'
 '39' '47' '35' '10' '9' '43' '-' '42' '41']
Column: PrecipitationSumInches, Unique Values: ['0.46' '0' 'T' '0.16' '0.1' '0.01' '0.06' '0.05' '0.02' '0.15' '0.11'
 '0.08' '0.17' '0.74' '0.07' '0.2' '0.27' '1.34' '2.45' '0.94' '0.14'
 '0.19' '1.56' '1.75' '0.55' '1.49' '0.24' '0.49' '0.31' '3.53' '1.52'
 '0.09' '0.98' '0.22' '0.51' '0.68' '0.35' '3.66' '0.13' '0.21' '0.03'
 '1.42' '0.3' '0.56' '1.51' '0.04' '0.33' '3.33' '0.59' '0.63' '0.76'
 '2.07' '0.4' '0.26' '0.45' '2.17' '1.17' '0.43' '0.41' '0.57' '3.84'
 '0.29' '0.23' '1.12' '0.36' '2.6' '1.41' '5.2' '0.67' '2.66' '1.09'
 '0.93' '0.75' '1.05' '0.79' '4.79' '0.65' '4.93' '0.89' '0.53' '1.03'
 '1.46' '0.25' '1.54' '1.32' '1.33' '2.18' '0.34' '1.19' '1.13' '0.58'
 '0.54' '0.92' '0.77' '2.25' '0.52' '0.18' '1.07' '1.61' '1.06' '2.35'
 '1.79' '1.22' '1.29' '0.37' '0.61' '1.57' '0.86' '0.66' '0.73' '0.71'
 '0.12' '0.47' '1.39']
Column: Events, Unique Values: ['Rain , Thunderstorm' ' ' 'Rain' 'Fog' 'Rain , Snow' 'Fog , Rain'
 'Thunderstorm' 'Fog , Rain , Thunderstorm' 'Fog , Thunderstorm']

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

#### Your Insights:

1. There are 21 variables in the dataset. 3 of them are numeric and the rest contain some text.

2. The average temperature in Austin ranged between around 70 degrees F and around 93 degrees F. The highest temperature observed during this period was 107 degrees F and the lowest was 19 degrees F.

3. When we look at the head function, we see that a lot of variables contain numeric data even though these columns are of object type. This means we might have to do some data cleansing.

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [27]:
austin["DewPointAvgF"].unique()

array(['49', '36', '27', '28', '40', '39', '41', '26', '42', '22', '48',
       '32', '8', '11', '45', '55', '61', '37', '47', '25', '23', '20',
       '33', '30', '29', '17', '14', '13', '54', '59', '15', '24', '34',
       '35', '57', '50', '53', '60', '46', '56', '51', '31', '38', '62',
       '43', '63', '64', '67', '66', '58', '70', '68', '65', '69', '71',
       '72', '-', '73', '74', '21', '44', '52', '12', '75', '76', '18'],
      dtype=object)

In [28]:
# Since the 'DewPointAvgF' column contains both numeric values (integers) and the '-' character (indicating missing or unknown values), Pandas inferred the data type as object (string) to accommodate all the value.

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [29]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [30]:
austin[wrong_type_columns] = austin[wrong_type_columns].apply(pd.to_numeric, errors='coerce')

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [31]:
austin.dtypes

Date                          datetime64[ns]
TempHighF                              int64
TempAvgF                               int64
TempLowF                               int64
DewPointHighF                        float64
DewPointAvgF                         float64
DewPointLowF                         float64
HumidityHighPercent                  float64
HumidityAvgPercent                   float64
HumidityLowPercent                   float64
SeaLevelPressureHighInches           float64
SeaLevelPressureAvgInches            float64
SeaLevelPressureLowInches            float64
VisibilityHighMiles                  float64
VisibilityAvgMiles                   float64
VisibilityLowMiles                   float64
WindHighMPH                          float64
WindAvgMPH                           float64
WindGustMPH                          float64
PrecipitationSumInches               float64
Events                                object
dtype: object

In [32]:
"""I guess the column "Date" should not be converted to an object data type because it already has the correct ...
data type, which is datetime64[ns]. 

The datetime64[ns] data type is specifically designed to handle date and time information efficiently, ...
and it allows for various date-related operations."""

'I guess the column "Date" should not be converted to an object data type because it already has the correct ...\ndata type, which is datetime64[ns]. \n\nThe datetime64[ns] data type is specifically designed to handle date and time information efficiently, ...\nand it allows for various date-related operations.'

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value. 

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [33]:
missing_values = austin[austin.isnull().any(axis=1)]
missing_values

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,
6,2013-12-27,60,53,45,41.0,39.0,37.0,83.0,65.0,47.0,...,30.39,30.34,10.0,9.0,7.0,7.0,1.0,11.0,NaN,
7,2013-12-28,62,51,40,43.0,39.0,33.0,92.0,64.0,36.0,...,30.17,30.04,10.0,10.0,7.0,10.0,2.0,14.0,NaN,
42,2014-02-01,76,66,55,62.0,59.0,41.0,81.0,71.0,60.0,...,29.81,29.75,10.0,10.0,9.0,14.0,6.0,26.0,NaN,Rain
51,2014-02-10,60,48,35,49.0,36.0,30.0,82.0,74.0,66.0,...,30.15,30.02,10.0,8.0,4.0,15.0,9.0,23.0,NaN,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5226,2017-06-12,94,85,75,72.0,68.0,62.0,87.0,62.0,36.0,...,29.89,29.81,10.0,10.0,2.0,15.0,7.0,22.0,NaN,Rain
5245,2017-07-01,98,89,79,76.0,72.0,66.0,85.0,62.0,38.0,...,30.02,29.92,10.0,9.0,6.0,15.0,7.0,24.0,NaN,
5261,2017-07-17,98,88,77,75.0,71.0,66.0,88.0,63.0,38.0,...,29.90,29.84,10.0,10.0,10.0,16.0,3.0,23.0,NaN,"Rain , Thunderstorm"
5265,2017-07-21,104,91,77,74.0,68.0,61.0,85.0,56.0,27.0,...,29.95,29.86,10.0,10.0,10.0,14.0,5.0,24.0,NaN,
5270,2017-07-26,103,91,78,75.0,70.0,61.0,91.0,58.0,25.0,...,30.03,29.93,10.0,10.0,10.0,15.0,6.0,27.0,NaN,

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value. 
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values. 
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm. 

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

#### Next, count the number of rows of `austin` and `missing_values`.

In [34]:
num_rows_austin = austin.shape[0]
num_rows_missing_values = missing_values.shape[0]

print("Number of rows in austin:", num_rows_austin)
print("Number of rows in missing_values:", num_rows_missing_values)

Number of rows in austin: 5276
Number of rows in missing_values: 544

#### Calculate the ratio of missing rows to total rows

In [37]:
ratio_1 = 544 * 100 / 5276
print("The Ratio of missing rows is:", ratio_1,"%")

The Ratio of missing rows is: 10.310841546626232 %

In [38]:
ratio_2 = num_rows_missing_values * 100 / num_rows_austin
print("The Ratio of missing rows is:", ratio_2,"%")

The Ratio of missing rows is: 10.310841546626232 %

As you can see, there is a large proportion of missing data (over 10%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

In [39]:
missing_rows_per_column = austin.isna().sum()
print(missing_rows_per_column)

Date                            0
TempHighF                       0
TempAvgF                        0
TempLowF                        0
DewPointHighF                  28
DewPointAvgF                   28
DewPointLowF                   28
HumidityHighPercent             8
HumidityAvgPercent              8
HumidityLowPercent              8
SeaLevelPressureHighInches     12
SeaLevelPressureAvgInches      12
SeaLevelPressureLowInches      12
VisibilityHighMiles            48
VisibilityAvgMiles             48
VisibilityLowMiles             48
WindHighMPH                     8
WindAvgMPH                      8
WindGustMPH                    16
PrecipitationSumInches        496
Events                          0
dtype: int64

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

In [40]:
ratio_3 = 496 * 100 / 544
print("The Ratio of missing rows is:", ratio_3,"%")

The Ratio of missing rows is: 91.17647058823529 %

Almost 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values. 

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [41]:
austin.drop("PrecipitationSumInches", axis=1, inplace=True)
austin

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5271,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,30.04,29.97,29.88,10.0,10.0,10.0,12.0,5.0,21.0,
5272,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,29.97,29.90,29.81,10.0,10.0,10.0,14.0,5.0,20.0,
5273,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,29.91,29.86,29.79,10.0,10.0,10.0,12.0,4.0,17.0,
5274,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,29.96,29.91,29.87,10.0,10.0,10.0,13.0,4.0,20.0,
5275,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,30.04,29.97,29.91,10.0,10.0,10.0,12.0,4.0,20.0,

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows. 

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [42]:
austin_fixed = austin.interpolate(method='backfill', inplace=False)

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

In [43]:
missing_values_2 = austin_fixed[austin_fixed.isnull().any(axis=1)]
num_rows_missing_values_2 = missing_values_2.shape[0]
print("Number of rows in missing_values:", num_rows_missing_values_2)

missing_values = austin[austin.isnull().any(axis=1)]
num_rows_missing_values = missing_values.shape[0]
print("Number of rows in missing_values:", num_rows_missing_values)

Number of rows in missing_values: 0
Number of rows in missing_values: 56

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [44]:
austin_fixed["Events"].value_counts()

                             3612
Rain                          768
Rain , Thunderstorm           548
Fog , Rain , Thunderstorm     132
Fog                            84
Thunderstorm                   68
Fog , Rain                     56
Rain , Snow                     4
Fog , Thunderstorm              4
Name: Events, dtype: int64

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [45]:
# Your answer: Fog , Rain , Thunderstorm (132 times)

#### We want to transform the string-type `Events` values to the numbers. This will allow us to apply machine learning algorithms easily.

How? We will create a new column for each type of events (i.e. *Rain*, *Snow*, *Fog*, *Thunderstorm*. In each column, we use `1` to indicate if the corresponding event happened in that day and use `0` otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with `0` values for each event in `austin_fixed`. To create a new dummy column with `0` values, simply use `austin_fixed[event] = 0`.

In [46]:
event_list = ['Snow', 'Fog', 'Rain', 'Thunderstorm']

for event in event_list:
    austin_fixed[event] = 0

# Print your new dataframe to check whether new columns have been created:

austin_fixed

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,0,0
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5271,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,0,0,0,0
5272,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,0,0,0,0
5273,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,0,0,0,0
5274,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,0,0,0,0
5275,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,0,0,0,0

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [47]:
for index, row in austin_fixed.iterrows():
    events = str(row['Events']).split(',')
    for event in events:
        event = event.strip()
        if event in event_list:
            austin_fixed.at[index, event] = 1

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [48]:
austin_fixed

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,1,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5271,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,0,0,0,0
5272,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,0,0,0,0
5273,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,0,0,0,0
5274,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,0,0,0,0
5275,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,0,0,0,0

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [49]:
austin_fixed.drop('Events', axis=1, inplace=True)

In [50]:
austin_fixed.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,1,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,10.0,7.0,12.0,4.0,20.0,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,10.0,7.0,10.0,2.0,16.0,0,0,0,0

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.

#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [54]:

from datetime import datetime

austin_fixed['Date'] = pd.to_datetime(austin_fixed['Date'])

# Convert the datetime objects to numerical using toordinal()
austin_fixed['Date'] = austin_fixed['Date'].apply(lambda x: x.toordinal())

#### Print `austin_fixed` to check your `Date` column.

In [55]:
austin_fixed.head(5)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm,Date_numerical
0,735223,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,0,0,1,1,735223
1,735224,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,0,0,0,0,735224
2,735225,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,0,0,0,0,735225
3,735226,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,0,0,0,0,735226
4,735227,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,0,0,0,0,735227

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns: 

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```
 
 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [56]:
X = austin_fixed[['TempHighF', 'TempLowF', 'DewPointHighF', 'DewPointAvgF', 'DewPointLowF',
                  'HumidityHighPercent', 'HumidityAvgPercent', 'HumidityLowPercent',
                  'SeaLevelPressureHighInches', 'SeaLevelPressureAvgInches', 'SeaLevelPressureLowInches',
                  'VisibilityHighMiles', 'VisibilityAvgMiles', 'VisibilityLowMiles',
                  'WindHighMPH', 'WindAvgMPH', 'WindGustMPH', 'Snow', 'Fog', 'Rain', 'Thunderstorm']]

y = austin_fixed[['TempAvgF']]

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [61]:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (4220, 21)
Shape of X_test: (1056, 21)
Shape of y_train: (4220, 1)
Shape of y_test: (1056, 1)

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [ ]:
# Your code here:

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [ ]:
# Your code here:

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [ ]:
# Your code here: